# Bot Token
BOT_TOKEN=your-b...e
# 群组 ID
GROUP_ID=-1000000000000

# 话题 ID 配置
TOPIC_UPLOAD=2
TOPIC_VIDEO=0
TOPIC_IMAGE=0
TOPIC_APK=0
TOPIC_EXE=0
TOPIC_ARCHIVE=0
TOPIC_DOCUMENT=0
TOPIC_OTHER=0
TOPIC_SEARCH=0
TOPIC_AUDIO=0